.bubble {
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    display: block;
    font-size: 0;
    height: 14px;
    width: 8px;
}
.inner-bubble {
    border-radius: 2px;
    display: block;
    height: 14px;
    width: 8px;
}